<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		//이름 정규식
		var idJ = /^[A-Za-z0-9]{4,12}$/;
		// 비밀번호 정규식
		var pwJ = /^[A-Za-z0-9]{4,12}$/; 
		
		$(document).ready(function() {
			// 등록 버튼을 눌렀을 때
			$('#submitBtn').click(function() {
				// 이름 자리가 공백인지 확인
				if($('#boardUser').val() == "") {
					// 시스템 창 호출
					alert("이름을 꼭 입력하세요!!");
					$('#boardUser').focus();
					// input창 안에 원하는 문구 출력
					$('#boardUser').attr('placeholder','한글자 이상 입력해주세요.');
					return false;
				} else {
					if(!idJ.test($('#boardUser').val())) {
						alert("이름은 4~12자리 영문&숫자로 입력하셔야 합니다.");
						$('#boardUser').focus();
						return false;
					}
				}
				if($('#boardTitle').val() == "") {
					alert("제목을 꼭 입력하세요!!");
					$('#boardTitle').focus();
					return false;
				}
				
				if($('#boardContent').val() == "") {
					alert("내용을 꼭 입력하세요!!");
					$('#boardContent').focus();
					return false;
				}
				
				if($('#boardPw').val() == "") {
					alert("비밀번호를 꼭 입력하세요!!");
					$('#boardPw').focus();
					return false;
				} else {
					if(!pwJ.test($('#boardPw').val())) {
						alert("비밀번호는 4~12자리 영문&숫자로 입력하셔야 합니다.");
						$('#boardPw').focus();
						return false;
					}
				}
			});
		});		
	</script>
	
</head>
<body>
<h1 class="center">BOARD ADD</h1>
<h1 class="indexText"><a class="aindex" th:href="@{/index}">INDEX</a></h1>
<div class="center">
	<form th:action="@{/boardAdd}" method="post" enctype="multipart/form-data">
		<table class="center">
			<tr>
				<th>이름</th>
			</tr>
			<tr>
				<td>
					<input type="text" id="boardUser" name="boardUser">
				</td>
			</tr>
			<tr>
				<th>제목</th>
			</tr>
			<tr>
				<td>
					<input type="text" id="boardTitle" name="boardTitle">
				</td>
			</tr>
			<tr>
				<th>내용</th>
			</tr>
			<tr>
				<td>
					<textarea rows="10" cols="80" id="boardContent" name="boardContent"></textarea>
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
			</tr>
			<tr>
				<td>
					<input type="text" id="boardPw" name="boardPw">
					<div id="pwCheck"></div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="file" id="files" name="files"><br>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" id="submitBtn" th:value="등록">
				</td>
			</tr>
		</table>
	</form>
	<div class="center">
		<a th:href="@{/boardList}"><button class="button button3 center" th:text="목록으로"></button></a>
	</div>
</div>
</body>