<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<script>
		
	</script>
	
</head>
<body>
<h1 class="center">BOARD ADD</h1>
<div class="center">
	<form th:action="@{/boardAdd}" method="post">
		<table class="center">
			<tr>
				<th>이름</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="boardUser">
				</td>
			</tr>
			<tr>
				<th>제목</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="boardTitle">
				</td>
			</tr>
			<tr>
				<th>내용</th>
			</tr>
			<tr>
				<td>
					<textarea rows="10" cols="80" name="boardContent"></textarea>
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="boardPw">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" th:value="등록">
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="@{/boardList}"><button class="button button3 center" th:text="목록으로" /></a>
				</td>
			</tr>
		</table>
	</form>
</div>
</body>